@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Assets/Fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    width: 100%;
    height: 100%;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
}

.loader-content {
    text-align: center;
}

.progress-bar {
    width: 300px;
    height: 1px;
    background-color: #333;
    margin-bottom: 10px;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #fff;
    -webkit-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
}

.progress-text {
    font-family: gilroy;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
}

main {
    width: 100%;
}

#parent {
    width: 100%;
    height: 2000vh;
    background-color: black;
    position: relative;
}

#container {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
}

#container canvas {
    width: 100%;
    height: 100%;
}

.animate1 {
    position: absolute;
    bottom: 10%;
    left: 3%;
}

.animate1 h1 {
    color: #fff;
    text-transform: uppercase;
    word-spacing: -1px;
}

.animate1 h1:nth-child(1) {
    font-weight: 200;
    font-size: clamp(18px, 2.4vmax, 50px);
}

.animate1 h1:nth-child(2) {
    font-weight: 400;
    font-size: clamp(19px, 2.46vmax, 52px);
}

.animate2 {
    opacity: 0;
    width: 45vmax;
    position: absolute;
    bottom: 10%;
    right: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 1.5vw;
}

.animate2 h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    font-size: clamp(28px, 4vmax, 68px);
    text-align: right;
}

.animate2 p {
    color: #fff;
    font-size: clamp(16px, 1.8vmax, 26px);
    font-weight: 400;
    text-align: right;
    width: 20vmax;
    height: 100%;
}

.animate3 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.animate3 h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    font-size: clamp(30px, 5.15vw, 73px);
}

.animate3 p {
    color: #fff;
    font-weight: 400;
    font-size: clamp(16px, 2.4vw, 25px);
    width: 100%;
}

.panel {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 33vmax;
    height: 100%;
    padding: clamp(20px, 2.5vw, 40px) clamp(18px, 3vw, 48px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.paneltop h1 {
    font-weight: 400;
    font-size: clamp(24px, 0.9vw, 32px);
    color: #5c5c5c;
}

.paneltop p {
    margin-top: clamp(16px, 2vw, 24px);
    font-weight: 600;
    font-size: clamp(13px, 2vw, 18px);
    width: 95%;
}

.paneltop button {
    padding: clamp(12px, 0.7vw, 18px) clamp(17px, 1.1vw, 22px);
    border: 1px solid #5c5c5c;
    background-color: transparent;
    color: #5c5c5c;
    font-weight: 400;
    font-size: clamp(13px, 2vw, 14px);
    margin-top: clamp(14px, 1.6vw, 26px);
    cursor: pointer;
    -webkit-transition: color 0.2s linear, background-color 0.2s linear;
    -o-transition: color 0.2s linear, background-color 0.2s linear;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.paneltop button:hover {
    background-color: #000;
    color: #e9e9e9;
}

.panelbottom h1 {
    font-weight: 600;
    font-size: clamp(22px, 1.1vw, 32px);
}

.panelbottom p {
    margin-top: clamp(16px, 2vw, 20px);
    font-weight: 600;
    font-size: clamp(12px, 0.9vw, 18px);
    width: 95%;
}

.panelbottom button {
    padding: clamp(12px, 0.7vw, 18px) clamp(17px, 1.1vw, 22px);
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: 400;
    font-size: clamp(13px, 0.8vw, 14px);
    margin-top: clamp(14px, 1.6vw, 26px);
    cursor: pointer;
}

.panelism {
    opacity: 0;
    width: 80%;
    color: #fff;
    font-weight: 500;
    font-size: 4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.panelism span {
    display: inline-block;
    background-color: #fff;
    width: 1%;
    height: 0.4vw;
}

.bottom {
    background-color: #fff;
    font-weight: 100;
    font-size: clamp(50px, 8vmax, 70px);
    padding-left: 2vw;
}

.names {
    padding-top: 5vw;
}

.names h3 {
    font-size: clamp(30px, 4vmax, 50px);
    font-weight: 500;
}

@media (max-width: 768px) {
    .animate2 {
        width: 100%;
        gap: 2vw;
    }

    .animate2 h1 {
        font-size: 3vmax;
    }

    .animate2 p {
        width: 55%;
    }

    .animate3 {
        width: 100%;
        padding: 0.4rem;
        gap: 7px;
    }

    .bottom {
        font-weight: 100;
        font-size: clamp(14px, 3vmax, 15px);
        padding-left: 2vw;
        padding-top: 3vw;
    }
}

@media (min-width: 769px) and (max-width: 1600px) {
    .animate2 {
        width: 55vmax;
        gap: 3vmax;
    }

    .animate3 {
        width: 65%;
    }
}